<p>User Name: <%= @user.username %></p>
<p>Created at: <%= @user.created_at %></p>
<p>Sign in count: <%= @user.sign_in_count %></p>
<% if @user.forem_admin = 1 %>
 <p>Administrator</p>
<% else %>
 <% end %>